{% extends 'base.html' %}
{% block content %}

<h1>About Community</h1>
<hr />
<p>Community is an American television sitcom created by Dan Harmon. The series ran for 110 episodes over six seasons, with its first five seasons airing on NBC from September 17, 2009, to April 17, 2014, and its final season airing on Yahoo! Screen from March 17 to June 2, 2015.</p>
<p>Set at a community college in the fictional Colorado town of Greendale, the series stars an ensemble cast consisting of Joel McHale, Gillian Jacobs, Danny Pudi, Yvette Nicole Brown, Alison Brie, Donald Glover, Ken Jeong, Chevy Chase, and Jim Rash. It makes heavy use of meta-humor and pop culture references, often paying homage to film and television clichés and tropes.</p>

{% endblock %}
